<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>{{creature_name}}</title>
</head>

<body style="background-color: #1a1a1b; color: #d2d7d8">
    <center>
    <a href="/mypage">Takaisin omalle sivulle</a> 
    <br>
    <p>ID: {{creature_id}}</p>
    <p>Omistaja: {{creature_owner}}</p>
    <p>Nimi: {{creature_name}}</p>
    <img src={{picture}}>
    </center>
</body>

</html>