<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Otuskauppa</title>
  </head>

  <body style="background-color: #1a1a1b; color: #d2d7d8">
    {%block title%}
    <center><h1>Otustarha</h1></center>
    {% with messages = get_flashed_messages() %}
       {% if messages %}
         <ul class=flashes>
           {% for message in messages %}
              <center><p>{{ message }}</p></center>
               </div>
           {% endfor %}
         </ul>
        {% else %}
      <center><b>Tervetuloa! Kirjaudu sisään tai luo uusi tunnus jatkaaksesi.</b> </center>
      <br>
    {%endif%}
    {% endwith %}
    {%endblock%}

    {%block content%}
    <center><h2>Kirjautuminen</h2></center>
    <form action="/login" method="POST">
      <center><p> Käytttäjätunnus:</p></center>
        <center><input type="text" name="username"></p></center>
      <center><p>Salasana:</p></center>
        <center><input type="password" name="password"></p></center>
        <center><input type="submit" value="Kirjaudu"></form></p></center>
        <center>Eikö sinulla ole käyttäjätunnusta? <a href="/signup">Luo uusi käyttäjä</a></center>
      </form>
    {% endblock %}
    <br>


    <center><img src="/static/haukerias.png"></center>
  </body>
</html>


