<!DOCTYPE html>
<html>
    <style>
        
    </style>
    <head>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
       <title>Oma sivu</title>
    </head>

    <body style="background-color: #1a1a1b; color: #d2d7d8">
        <center>
        {%block title%}
        <h1>Pelaajan {{session.username}} kotisivu</h1>
        <p>Tervetuloa takaisin {{session.username}} !</p>
        {%endblock%}


        {%block content%}
        <p>Rahat:{{session.money}}</p>
        <a href="/shop">Kauppa</a>
        <a href="/mycreatures">Omat otukset</a>
        <a href="/forum">Keskustelupalsta</a>
        <br>
        <a href="/logout">Kirjaudu ulos</a>
        {%endblock%}
        </center>
    
    </body>


</html>

