<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <title>Lähetä viesti</title>
    </head>
    <body>
        <form action="/send" method="POST">
            Viesti:
            <br>
            <textarea name="content" rows="3" cols="40"></textarea>
            <br>
            <input type="submit" value="Lähetä">
            <br>
        </form>
    </body>
</html>
