<!DOCTYPE html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>Kauppa</title>
</head>

<body style="background-color: #1a1a1b; color: #d2d7d8">
  <center>
  {%block title%}
  <h1>Kauppa</h1>
    {% with messages = get_flashed_messages() %}
   {% if messages %}
     <ul class=flashes>
    {% for message in messages %}
        <p>{{ message }}</p>
      </div>
    {% endfor %}
     </ul>
     {%endif%}
     {% endwith %}
    {%endblock%}
    <p>Varat: {{session.money}} köntsäkolikkoa</p>
    <a href="/mypage">Takaisin omalle sivulle</a>
    <a href="/logout">Kirjaudu ulos</a>
    <a href="/giftcodes">Onko sinulla lahjakoodi? Klikkaa tästä.</a>
    <br/>
    <img src="/static/haukerias.png"
           width="400"
           height="auto"/>
<br/>  
<p> Haukerias: {{haukerias_price}} köntsäkolikkoa</p>
<a href="/buy/haukerias">Osta</a> <br/>
<img src="/static/lohari.png"
          width="400"
          height="auto">
<br/>
<p>Lohari: {{lohari_price}} köntsäkolikkoa</p>
<br/>
<a href="/buy/lohari">Osta</a>
<br/>
  </center>
</body>